* {
  font-family: "IBM Plex mono", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* HEADER */
.banner {
  align-items: center;
  background-attachment: fixed;
  background-image:url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 80vh;
}

.banner-conteudo {
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 2.5rem;
}

.banner-conteudo img {
  border-radius: 50%;
  max-width: 15%;
}

.banner-conteudo h1 {
  font-size: 28px;
}

.banner-conteudo h2 {
  font-size: 20px;
  margin-bottom: 2rem;
  font-weight: normal;
}

.banner-conteudo a {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.banner-conteudo a:hover {
  background-color: #EC4D2F;
  transition:ease 0.5s;
  color: #fff;
}

/* SOBRE */

.sobre {
  border-top: 7px solid #3D9399;
  max-width: 100%;
  
}

.sobre,
.redes {
 margin: 0 auto;
}

.sobre h3 {
  text-align: center;
}

.sobre-mim {
  margin: auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.sobre-conteudo {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-right: 60px;
  text-align: end;
}

.sobre-conteudo,
.sobre-habilidade {
 width: 50%;
}

.sobre-habilidade ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sobre-habilidade li {
  padding-left: 2.3em; 
}

.sobre-habilidade li::before {
  content: "• ";
  color: #EC4D2F; 
}

/* REDES SOCIAIS */
.redes-sociais {
  background-color: #3D9399;
  border-top: 2px solid #EC4D2F;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.redes-sociais_behance,
.redes-sociais_linkedin,
.redes-sociais_github {
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.redes-sociais img {
  max-width: 2rem;
  max-height: 2rem;
}

.redes-sociais p {
  margin-bottom: 0;
}

/* FOOTER */

footer {
  border-top: 2px solid #EC4D2F;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}